* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.Login {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.login {
  color: darkslateblue;
}

.table {
  padding: 100px;
  margin: 100px !important;
}

.form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 50px;
}

.form .form__custom-button {
  margin-top: 50px;
  background-color: darkslateblue
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: auto;
  color:black ;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;  
}

.logo {
  height: 60px; 
  width: 200px;
  padding-top: 50px;
}
.divider{
  width:1300px;
  height:auto;
  display:inline-block;
}

