* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.Login {
  padding: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
  heigth: 100%;
}

.login {
  color: darkslateblue;
}

.table {
  padding: 100px;
  margin: 100px !important;
}

.form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.form .form__custom-button {
  margin-top: 50px;
  background-color: darkslateblue
}

h1 {
  text-align: center;
  color:black ;
  padding: 50px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;  
}

.logo {
  height: 60px; 
  width: 200px;
  padding-top: 50px;
}
.divider{
  width:1300px;
  height:auto;
  display:inline-block;
}


.survey {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
  height: 50px;
  
  border: 1px solid #E6E6E6;
  border-radius: 10px;

}
